*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(243, 213, 176);

}

body{

}

div{
    width: 75vw;
    margin: 2px auto; 
}

@media only screen and (max-width: 600px) {
   textarea{
       width: 100%;
   }
  }